
.message {
    display: flex;
    justify-content: flex-end;

    animation: slide-in 0.3s ease;
   
  
  }
  
  .message:last-child {
    animation: slide-in-last 0.5s ease-in;
  }
  .sender{
    display: flex;
    justify-content: flex-end;


    animation: slide-in 0.3s ease;

  }
  .text {
    background-color: #007aff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.6;
    max-width: 23rem;
    display:flex;
    /* flex-wrap: wrap;
    resize: vertical;
    overflow-wrap: break-word;
    overflow-wrap:normal; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 9px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0px;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-last {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    50% {
      transform: translateX(20%);
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }