
@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
.searchbar{
    margin-bottom: 4px;
    margin-top: 3px;
    height: 40px;
    background-color:#2c2c2c;
    border-radius: 30px;
    padding: 8px;     
    margin-left: 2rem;
    margin-right: 1rem;
    }
  
    
    .chatdata{
        overflow-y: scroll;
     background-color: "#17181F";
    }
    .chatnav:hover{
        background-color: #2c2c2c;
        border-radius: 10px;
    }
    .chatdatahovered{
        background-color: #6ca2c1;
        border-radius: 10px;

    }
    .chatnav{
        border-radius: 10px;
    }
    .menuitem {
        position: relative;
        display: inline-block;
        width: 80px;
        height: 32px;
        text-align: center;
        background: #FFE;
        cursor: pointer;
    }
    .tracking-in-expand{-webkit-animation:tracking-in-expand .6s linear both;animation:tracking-in-expand .6s linear both}
    .tab:focus{
        cursor: pointer;
        background-color: #766ac8;
        opacity: 1;
    
        z-index: 33;
        border-radius: 10px;

    }
    .bouncing-loader {
      display: flex;
     
    }
    @keyframes bouncing-loader {
      to {
        opacity: 0;
        transform: translateY(-0.2px); 
      }
    }
    
    .bouncing-loader > div:nth-child(2) {
      animation-delay: 0.2s;
    }
    
    .bouncing-loader > div:nth-child(3) {
      animation-delay: 0.3s;
    }
  
    
    
    
    .bouncing-loader > div {
      width: 5px;
      height: 5px;
      margin: 1px 2px;
      border-radius: 50%;
      background-color: #eeeded;
      
      opacity: 1;
      animation: bouncing-loader .6s infinite alternate;
    }
    .tab:focus:hover{

      
        opacity: 1;
    
        background-color:#766ac8 ;
        border-radius: 10px;
    
    }
    .chat-box {
        display: flex;
        flex-direction: column;
        height: 50vh;
      }
.message {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    background-color: transparent;
    animation: slide-in 0.3s ease;
  }
  
  .message:last-child {
    animation: slide-in-last 0.3s ease;
  }
  
  .text1{
    background-color: #007aff;
    color: #fff;
    
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.4;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-last {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    50% {
      transform: translateX(20%);
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
   .tab:hover{
    cursor: pointer;
    background-color: rgb(109, 116, 116);
    opacity: 1;

    z-index: 33;
    border-radius: 10px;

   }
   
  
    .menuitem span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 3px;
        background: #000;
        transition: all 0.6s;
    }
    .menuitem:hover span {
        width: 100%;
    }
    .mostly-customized-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

.mostly-customized-scrollbar::-webkit-scrollbar
{
	width: 4px;
	background-color: transparent;
}

.mostly-customized-scrollbar::-webkit-scrollbar-thumb
{

	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: purple;
}
  

    .search_input{
    color: rgb(223, 223, 223);
    border: 0;
    outline: 0;
    background: none;
    width: 17rem;
    caret-color:transparent;
    line-height: 10px;
    transition: width 0.4s linear;
       padding: 0 10px;

    }

    .searchbar :hover > .search_input{
   
   padding-right: 0 15px;
    caret-color:rgb(96, 160, 172);
    transition: width 0.4s linear;
    }
    .message:hover > .search_input{
   
        padding-right: 0 15px;
         caret-color:rgb(96, 160, 172);
         transition: width 0.4s linear;
         }
/* 
    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    opacity: 0.1;
    } */
    
    .search_input{
      caret-color: white;
    }

    .search_icon{
    height: 30px;
    width: 30px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:rgb(129, 123, 123);
    text-decoration:none;
    }
    .imoji{
        height: 30px;
        width: 30px;
        
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:rgb(129, 123, 123);
        text-decoration:none;

    }
    .closechat{
      flex:0;
      transition: all 1s;

    }
    .openchat{
      flex: 1;
      transition: all 1s;

    }
    .openarchieve {
      flex: 1;
      transition: all 1s;
     
  }
.hello{
  transition: all 7s linear;
}
 
  .closearchieve{
    flex:0;
    transition: all 1s;

  }

::placeholder {
  color: white;
  opacity: .5; /* Firefox */
}

.fIcon {
  width: 45px;
  height: 45px;
  background: grey;
  border-radius:50%;
  margin:5%;
   cursor: pointer;
}
.handy:hover{
  cursor: pointer;
  
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-19 18:41:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-tr
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes user {
  from {
    /* pushes the sun down past the viewport */
    width: 0vw;
  
  }
  to {
    /* returns the sun to its default position */
    width: 22vw;
  
  }
}
@keyframes userclose {
  from {
    /* pushes the sun down past the viewport */
    width:22vw;
  
  }
  to {
    /* returns the sun to its default position */
    width: 0vw;
  
  }
}
.scale {
	/* -webkit-animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
          width:22vw;
          animation: .6s cubic-bezier(0.47, 0, 0.745, 0.715) 0s user;
        }
        .closscale{

          width:0vw;
          animation: .6s cubic-bezier(0.47, 0, 0.745, 0.715) 0s userclose;


        }
        @keyframes openeer {
          from {
            /* pushes the sun down past the viewport */
            width:0;
            border-radius:0px 0px 0px 0px;
            background-color:#1F2029;
            border-color:#1F2029;
            opacity:0
          
          }
          to {
            /* returns the sun to its default position */
            width: 13vw;
            border-radius:25px 0 0 25px;
            background-color:#1F2029;
            border-color:#1a1a1b;
            opacity:1
          
          }
        }
          
.animateee{
  
  opacity:1;
  border-width: 1px;
  border-radius:25px 0 0 25px;
  background-color:#1F2029;
  border-color:#1a1a1b;
  width: 13vw;
  animation: 1s cubic-bezier(0.23, 1, 0.320, 1) 0s openeer;
}
input{
  color:white;
}
@keyframes animater {
  from {
    /* pushes the sun down past the viewport */
    border-width: 0px;
    border-radius:0px 0px 0px 0px;
    background-color: #1F2029;
    opacity:0;

  }
  to {
    /* returns the sun to its default position */
    border-width: 2px;
    border-radius:0px 25px 25px 0px;
    background-color: #1F2029;
    opacity:1;
    border-color: #1a1a1b;
  
  }
}

.animato{
  color:'white';
  border-color: #1a1a1b;
  border-width: 2px;

  border-radius:0px 25px 25px 0px;
  background-color: #1F2029;
  animation: 1s linear 0s animater;
  opacity:1;
}

