.news-header{

  color: rgb(34, 31, 31);
}
.loaderr{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.main-news {
  overflow-y: scroll;
}
.top-headlines{
	overflow-y: scroll;
}
.mostly-customized-scrollbar::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	/* border-radius: 4vh; */
	/* background-color: #e7e7e7; */
  background-color: transparent;
  /* border: 0.3px solid #cacaca; */

}

.mostly-customized-scrollbar::-webkit-scrollbar
{
	width: 1vh;
	background-color: transparent;
}

.mostly-customized-scrollbar::-webkit-scrollbar-thumb
{

	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #584949;
  border-radius: 4vh;
}
.handy:hover{
	cursor:pointer;
	color:black;
	background-color: azure;

}
.handy:focus{
	color:black;
	background-color: azure;
}
input::placeholder{
	color:black;
}
.hey1::after{
	line-height: 1vh;
	border-color:rgb(239, 240, 240) ;
}
